{% extends 'base.html' %}
{% block title %}
    Admin Page
{% endblock %}

{% block content %}
<body>  
    <style>
        .zoom-btn:hover {
            transition: transform 0.3s ease-in-out;
            transform: scale(1.1);
        }
    </style>

    <div class="position-relative overflow-hidden p-5 p-md-7 m-md-3 text-center" style="background-color:rgb(16, 98, 112); color:white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="display-4 font-weight-normal mb-4 title">InReview Web Application</h1>
                    <h3 class="subtitle">Manuscript Management System</h3>
                    <br>
                    
                    <h5 class="invite-text">Enter a no. to generate invite links for inviting reviewers:- </h5>
                    <form method="POST" class="form-signin" style="color:white">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.number.label(class="sr-only") }}
                            {{ form.number(class="form-control", placeholder="Enter number of links", required=True) }}
                        </div>
                        {{ form.submit(class="btn btn-lg btn-primary btn-block mt-4 zoom-btn") }}
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Display generated links -->
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="mb-3">Generated Invite Links</h2>
                    {% if Invite_links %}
                        {% for link_group in Invite_links %}
                            <li>
                                <input type="text" value="{{ link_group }}" size="50" id="myInput{{ loop.index }}">
                                <button id="copyButton{{ loop.index }}" onclick="copyText('myInput{{ loop.index }}')">Copy link</button>
                            </li>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <h2 class="mb-3">Event Requests</h2>
                    <a class="btn btn-lg btn-primary d-block " href="{{ url_for('admin_event_requests') }}">Go to event requests</a>
                </div>
                <div class="col-md-6 mb-4">
                    <h2 class="mb-3">Reviewers Requests</h2>
                    <a class="btn btn-lg btn-primary d-block" href="{{ url_for('admin_reviewer_requests') }}">Go to reviewers requests</a>
                </div>
            </div>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
</body>

<style>
    .title {
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #fff;
    }

    .subtitle {
    font-family:'Times New Roman', Times, serif;
    animation: fadeInUp 2s ease-in-out;
    }

    .invite-text {
    background-color: rgb(185, 37, 155);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    }
    
</style>
{% endblock %}