{% extends 'base.html' %}
{% block title %}
    Event Requests
{% endblock %}

{% block content %}
<div class="contaier-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-body" style="background-color: rgb(161, 217, 240);">
                    <h1 class="card-title text-black mb-4">Admin Events Requests</h1>
                    {% if event_requests %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>S.No.</th>
                                    <th>Category</th>
                                    <th>Title</th>
                                    <th>Web Page</th>
                                    <th>Venue</th>
                                    <th>Country</th>
                                    <th>First Day</th>
                                    <th>Last Day</th>
                                    <th>Primary Area</th>
                                    <th>Secondary Area</th>
                                    <th>Area Notes</th>
                                    <th>Organizer Name</th>
                                    <th>Organizer Web Page</th>
                                    <th>Phone No.</th>
                                    <th>Ohter info</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event_request in event_requests %}
                                    <tr class="table-info">
                                        <td>{{ loop.index }}.</td>
                                        <td>{{ event_request.category }}</td>
                                        <td>{{ event_request.title }}</td>
                                        <td><a href="{{ event_request.web_page_url }}" target="_blank">{{ event_request.web_page_url }}</a></td>
                                        <td>{{ event_request.venue }}</td>
                                        <td>{{ event_request.country }}</td>
                                        <td>{{ event_request.first_day }}</td>
                                        <td>{{ event_request.last_day }}</td>
                                        <td>{{ event_request.primary_area }}</td>
                                        <td>{{ event_request.secondary_area }}</td>
                                        <td>{{ event_request.area_notes }}</td>
                                        <td>{{ event_request.organizer_name }}</td>
                                        <td><a href="{{ event_request.organizer_web_page }}" target="_blank">{{ event_request.organizer_web_page }}</a></td>
                                        <td>{{ event_request.phone_no }}</td>
                                        <td>{{ event_request.other_info}}</td>
                                        <td>
                                            <a class="btn btn-success mb-1" href="{{ url_for('approve_event_request', request_id=event_request.id)}}">Approve</a>
                                            <a class="btn btn-danger" href="{{ url_for('reject_event_request', request_id=event_request.id)}}">Reject</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <p class="text-center" style="font-size: 1.2rem;">No pending event requests.</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}