{% extends 'base.html' %}
{% block title %}
    Please Confirm your Email
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-0">
                    <div class="card-body text-center">
                        
                        <h2 class="mb-3">Invitation Sent Successfully!</h2>
                        <p class="lead">An Invitation link has been send to the email address of the choosen reviewer. You can go back to the previous page.</p>
                        <a href="#" class="btn btn-primary btn-lg mt-4" onclick="goBack()">Previous Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goBack(){
            window.history.back();
        }
    </script>
    
{% endblock %}