{% extends 'base.html' %}
{% block title %}
    New Event Form
{% endblock %}
{% block content %}
<body>

    <!-- New Event Form Section -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="container w-100 mt-4 p-5 bg-light rounded shadow">
                    <h2 class="mb-4 custom-color">Submit New Event Request</h2>
                    <h6 class="text-secondary">Please fill out the form and submit your request.</h6>

                    <hr>
                    <br>
                    <form method="POST" style="color:black" action="{{ url_for('submit_event_request')}}">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}

                        <!-- Category -->
                        {{ form.category.label() }}
                        {{ form.category(class="form-control", placeholder="Enter event category") }}
                        <hr>

                        <!-- Title -->
                        {{ form.title.label() }}
                        {{ form.title(class="form-control", placeholder="Enter event title") }}

                        <!-- Acronym -->
                        {{ form.acronym.label() }}
                        {{ form.acronym(class="form-control", placeholder="Enter event acronym") }}

                        <hr>

                        <!-- Web Page URL -->
                        {{ form.web_page_url.label() }}
                        {{ form.web_page_url(class="form-control", placeholder="Enter event webpage URL") }}

                        <!-- Venue -->
                        {{ form.venue.label() }}
                        {{ form.venue(class="form-control", placeholder="Enter event venue") }}

                        <!-- City -->
                        {{ form.city.label() }}
                        {{ form.city(class="form-control", placeholder="Enter event city") }}

                        <!-- Country -->
                        {{ form.country.label() }}
                        {{ form.country(class="form-control", placeholder="Enter event country") }}

                        <hr>

                        <!-- First Day -->
                        {{ form.first_day.label() }}
                        {{ form.first_day(class="form-control", placeholder="Enter event first day") }}

                        <!-- Last Day -->
                        {{ form.last_day.label() }}
                        {{ form.last_day(class="form-control", placeholder="Enter event last day") }}

                        <hr>

                        <!-- Primary Area -->
                        {{ form.primary_area.label() }}
                        {{ form.primary_area(class="form-control", placeholder="Enter event primary area") }}

                        <!-- Secondary Area -->
                        {{ form.secondary_area.label() }}
                        {{ form.secondary_area(class="form-control", placeholder="Enter event secondary area") }}

                        <!-- Area Notes -->
                        {{ form.area_notes.label() }}
                        {{ form.area_notes(class="form-control", placeholder="Enter area notes") }}

                        <hr>

                        <!-- Organizer Name -->
                        {{ form.organizer_name.label() }}
                        {{ form.organizer_name(class="form-control", placeholder="Enter organizer name") }}

                        <!-- Organizer Email Address -->
                        {{ form.organizer_email_address.label() }}
                        {{ form.organizer_email_address(class="form-control", placeholder="Enter organizer email address") }}

                        <!-- Organizer Web Page -->
                        {{ form.organizer_web_page.label() }}
                        {{ form.organizer_web_page(class="form-control", placeholder="Enter organizer web page") }}

                        <!-- Phone No -->
                        {{ form.phone_no.label() }}
                        {{ form.phone_no(class="form-control", placeholder="Enter phone number") }}

                        <hr>

                        <!-- Other Info -->
                        {{ form.other_info.label() }}
                        {{ form.other_info(class="form-control", placeholder="Enter other info") }}

                        <br><br>
                        {{ form.submit(class="btn btn-lg btn-block btn-primary animated-button") }}

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var role = "{{ role }}";
        console.log(role);
    </script>
    
</body>

<style>
    .animated-button {
        transition: all 0.3s ease-in-out;
    }

    .animated-button:hover {
        transform: scale(1.1);
    }

    .custom-color{
        color: rgb(49,150,168);
    }
</style>

{% endblock %}