{% extends 'base.html' %}
{% block title %}
    Dropbox Sign Hackathon
{% endblock %}

{% block content %}
<body>

    <div class="position-relative overflow-hidden p-5 p-md-7 m-md-3 text-left" style="background-color:rgb(16, 98, 112); color:white">

        {% if Invitation_details %}

            <h1 class="display-4 font-weight-bold">{{ Invitation_details.title }}</h1>
            <h2 class="font-weight-normal mb-4">{{ Invitation_details.acronym }}</h2>
            <h6 class="font-weight-normal mb-4"><Strong>{{ Invitation_details.area_notes }}</Strong></h6>

            <p class="mb-4">
                <span class="mr-4"><strong>Webpage URL:&emsp; <a href="{{ Invitation_details.web_page_url }}" class="text-color webpage-url" style="text-decoration: underline;" target="_blank">{{ Invitation_details.web_page_url }} </a></strong></span>
                <span class="mr-4"><strong>Venue:&emsp;
                    <span class="text-color">{{ Invitation_details.venue }}, {{ Invitation_details.city }}</strong>
                </span></span>
            </p>

            <p>
                <span class="mr-4"><strong>First Day:&emsp; <span class="text-color">{{ Invitation_details.first_day.strftime('%d/%m/%Y') }}</strong></span></span>
                <span class="mr-4"><strong>Last Day:&emsp; <span class="text-color">{{ Invitation_details.last_day.strftime('%d/%m/%Y') }}</strong></span></span>
            </p>
            <br>
            <a href="#" onclick="showDocument()" id="acceptBtn"><button class="btn btn-success btn-animation">Accept the Invitation</button></a>
            <p id="documentLink" style="display: none;"><a href="{{ url_for('download_file', filename=Invitation_document) }}" class="document-link" target="_blank">{{ Invitation_document }}</a></p>
        {% else %}
            <p>No details! This event has ended.</p>
        {% endif %}


    </div>

</body>

<style>
    .document-link{
        color: white;
    }
    .text-color{
        color: rgba(240, 237, 74, 0.747);
    }
    .btn-animation {
        transition: all 0.3s ease-in-out;
    }

    .btn-animation:hover {
        transform: scale(1.05);
    }
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        font-weight: bold;
    }
    p, span {
        color: #fff;
        font-size: 17px;
    }
    .webpage-url:hover {
        color: black;
    }
    
</style>

<script>
    function showDocument(){

        var acceptBtn = document.getElementById('acceptBtn');
        var documentLink = document.getElementById('documentLink');
        
        acceptBtn.style.display = 'none';               //Hide the accept button
        documentLink.style.display = 'block';           //Show the document link

    }

</script>
{% endblock %}